-r ../common/requirements.txt
Flask-JWT
Flask-Pymongo
Flask-Restful
PyInstaller
awscli
boto3
botocore
bson
dpath
flask
jsonschema
mongoengine
mongomock
pytest
python-dateutil
ring
stix2
tornado
virtualenv
werkzeug
wheel
